{% extends "base.html" %}

{% load humanize %}

{% block content %}

<h1>{{ month }} Creature List</h1>
{% if bug_list %}
  <h2>Bug List:</h2>
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Time</th>
        <th>Seasonality</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      {% for bug in bug_list %}
        <tr>
          <td>
            {% if bug.new %}<span class="badge badge-success">New</span>{% endif %}
            {% if bug.leaving %}<span class="badge badge-warning">Leaving</span>{% endif %}
            {{ bug.name }}
          </td>
          <td>{{ bug.location }}</td>
          <td>{{ bug.time }}</td>
          <td>{{ bug.seasonality }}</td>
          <td>{{ bug.price|intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No bugs are available.</p>
{% endif %}

{% if fish_list %}
  <h2>Fish List:</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Time</th>
        <th>Seasonality</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      {% for fish in fish_list %}
        <tr>
          <td>
            {% if fish.new %}<span class="badge badge-success">New</span>{% endif %}
            {% if fish.leaving %}<span class="badge badge-warning">Leaving</span>{% endif %}
            {{ fish.name }}
          </td>
          <td>{{ fish.location }}</td>
          <td>{{ fish.time }}</td>
          <td>{{ fish.seasonality }}</td>
          <td>{{ fish.price|intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No fish are available.</p>
{% endif %}

{% endblock %}